# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# executables
acl_update
acl_view
demo_sigio
epoll_flags_fork
epoll_input
multithread_epoll_wait
poll_pipes
select_mq
self_pipe
t_select
cap_launcher
cap_text
check_password_caps
demo_file_caps
daemon_SIGHUP
t_syslog
test_become_daemon
bad_symlink
file_type_stats
list_files
list_files_readdir_r
nftw_dir_tree
t_dirbasename
t_unlink
view_symlink
copy
direct_read
mix23_linebuff
mix23io
write_bytes
write_bytes_fdatasync
write_bytes_fsync
write_bytes_o_sync
atomic_append
bad_exclusive_open
copy
large_file
multi_descriptors
seek_io
t_readv
t_truncate
i_fcntl_locking
t_flock
chiflag
t_chown
t_stat
t_umask
t_utime
t_utimes
t_mount
t_statfs
t_statvfs
t_umount
t_getopt
demo_inotify
dnotify
inotify_dtree
rand_dtree
ename.c.inc
dump_utmpx
utmpx_login
view_lastlog
free_and_sbrk
anon_mmap
mmcat
mmcopy
t_mmap
t_remap_file_pages
catch_SIGHUP
disc_SIGHUP
handling_SIGTSTP
job_mon
orphaned_pgrp_SIGHUP
t_setsid
change_case
fifo_seqnum_client
fifo_seqnum_server
pipe_ls_wc
pipe_sync
popen_glob
simple_pipe
mq_notify_sig
mq_notify_sigwaitinfo
mq_notify_thread
mq_notify_via_signal
mq_notify_via_thread
pmsg_create
pmsg_getattr
pmsg_receive
pmsg_send
pmsg_unlink
bad_longjmp
display_env
longjmp
modify_env
necho
setjmp_vars
t_getenv
idshow
acct_on
acct_v3_view
acct_view
child_status
closeonexec
demo_clone
envargs
exit_handlers
footprint
fork_file_sharing
fork_sig_sync
fork_stdio_buf
fork_whos_on_first
make_zombie
multi_SIGCHLD
multi_wait
necho
orphan
t_clone
t_execl
t_execle
t_execlp
t_execve
t_fork
t_system
t_vfork
vfork_fd_test
demo_sched_fifo
sched_set
sched_view
t_sched_getaffinity
t_sched_setaffinity
t_setpriority
rlimit_nproc
rusage
rusage_wait
syscall_speed
psem_create
psem_getvalue
psem_post
psem_timedwait
psem_trywait
psem_unlink
psem_wait
thread_incr_psem
pshm_create
pshm_read
pshm_unlink
pshm_write
script
unbuffer
dynload
catch_rtsigs
demo_SIGFPE
ignore_pending_sig
intquit
nonreentrant
ouch
sig_receiver
sig_sender
sig_speed_sigsuspend
sigmask_longjmp
sigmask_siglongjmp
signalfd_sigval
t_kill
t_sigaltstack
t_sigqueue
t_sigsuspend
t_sigwaitinfo
i6d_ucase_cl
i6d_ucase_sv
id_echo_cl
id_echo_sv
is_echo_cl
is_echo_inetd_sv
is_echo_sv
is_echo_v2_sv
is_seqnum_cl
is_seqnum_sv
is_seqnum_v2_cl
is_seqnum_v2_sv
list_host_addresses
scm_cred_recv
scm_cred_send
scm_multi_recv
scm_multi_send
scm_rights_recv
scm_rights_send
socknames
t_gethostbyname
t_getservbyname
ud_ucase_cl
ud_ucase_sv
us_abstract_bind
us_xfr_cl
us_xfr_sv
us_xfr_v2_cl
us_xfr_v2_sv
svmsg_demo_server
t_ftok
svmsg_chqbytes
svmsg_create
svmsg_file_client
svmsg_file_server
svmsg_info
svmsg_ls
svmsg_receive
svmsg_rm
svmsg_send
svsem_create
svsem_demo
svsem_info
svsem_mon
svsem_op
svsem_rm
svsem_setall
svshm_attach
svshm_create
svshm_info
svshm_lock
svshm_mon
svshm_rm
svshm_unlock
svshm_xfr_reader
svshm_xfr_writer
procfs_pidmax
procfs_user_exe
t_uname
t_fpathconf
t_sysconf
detached_attrib
one_time_init
prod_condvar
prod_no_condvar
pthread_barrier_demo
simple_thread
strerror_test
strerror_test_tls
strerror_test_tsd
thread_cancel
thread_cleanup
thread_incr
thread_incr_mutex
thread_incr_rwlock
thread_incr_spinlock
thread_lock_speed
thread_multijoin
calendar_time
process_time
show_time
strtime
t_stime
cpu_burner
cpu_multi_burner
cpu_multithread_burner
demo_timerfd
ptmr_null_evp
ptmr_sigev_signal
ptmr_sigev_thread
real_timer
t_clock_nanosleep
t_nanosleep
timed_read
demo_SIGWINCH
new_intr
no_echo
test_tty_functions
check_password
t_getpwent
t_getpwnam_r
syscall_gettimeofday
vdso_gettimeofday
madvise_dontneed
memlock
t_mprotect
t_setxattr
xattr_view
